# ======================
# General
# ======================
.DS_Store
.env
*.log
*.pid

# ======================
# Frontend (Vite / React)
# ======================
node_modules/
dist/
build/
.vite/
.react-router/
.netlify/
.dazl/

# ======================
# Backend (Python)
# ======================
venv/
.venv/
venv_win/
__pycache__/
*.pyc
*.pyo
*.pyd
instance/
.pytest_cache/

# Uploads (kalau tidak ingin disimpan di git)
backend/app/static/uploads/

# ======================
# Server / Deployment
# ======================
*.pid
*.sock
*.ini
*.htaccess
.user.ini

# ======================
# Editor / OS
# ======================
.vscode/
.idea/